<!-- events#new page -->

<%= render 'event_form' %>

<!-- <%= form_for @event do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </p>

  <p>
    <%= f.label :date %>
    <%= f.text_field :date %>
  </p>

  <p>
    <%= f.label :capacity %>
    <%= f.text_field :capacity %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %> -->
